[Unit]
Description=Medialab FlexGet Service (called by systemd timer)
Documentation=https://github.com/ahuacate/pve-medialab

[Service]
User=media
Group=medialab
Type=oneshot
# Execute bash script to run FlexGet
ExecStart=/home/media/.flexget/cookbook/cookbook.sh

[Install]
WantedBy=multi-user.target