[submodule "common"]
	path = common
	url = https://github.com/ahuacate/common.git
	branch = main
[submodule "SimpleHTTPServerWithUpload"]
	path = SimpleHTTPServerWithUpload
	url = https://github.com/git/ahuacate/SimpleHTTPServerWithUpload
	branch = main
