[Unit]
Description=Medialab Videocoderr Autoadd Watch
Documentation=https://github.com/ahuacate/pve-medialab
After=network.target

[Service]
PIDFile=/run/vidcoderr_inotify_rsync/vidcoderr_inotify_rsync.pid
User=media
Group=medialab
WorkingDirectory=/usr/local/bin/vidcoderr
ExecStartPre=/bin/mkdir /run/vidcoderr_inotify_rsync
ExecStartPre=/bin/chown -R root:root /run/vidcoderr_inotify_rsync
ExecStart=/usr/local/bin/vidcoderr/vidcoderr_inotify_rsync.sh
ExecReload=kill -s HUP $MAINPID
ExecStop=kill -s TERM $MAINPID
ExecStopPost=rm -rf /run/vidcoderr_inotify_rsync
#PrivateTmp=true
Restart=on-failure
RestartSec=1
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target